.MuiCustom {
    font-size: x-large;
}

.MuiCustomHappy::before {
    content: "😀";
}

.MuiCustomSad::before {
    content: "😔";
}

.MuiCustomOkay::before {
    content: "🙂";
}

.MuiCustomAny::before {
    content: "😶";
}